<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="image-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Title</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown toggle">
        Manage Movie<span class="caret"></span>
      </button>
      <div class="ul dropdown-menu">
        <li><a href="#">Add Movie</a></li>
        <li><a href="#">Edit Movie</a></li>
        <li><a href="#">Delete Movie</a></li>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Summary
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Actors
  </div>
</div>
